
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
</head>

<body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">MEDICAL INSURANCES</a></li>
                            <li><a href="#">Individual Health Insurance</a></li>
                            <li><a href="#">Family Health Insurance</a></li>
                            <li><a href="#">Critical Illness Insurance</a></li>
                            <li><a href="#">Personal Accident Insurance</a></li>
                            <li><a href="#">Group Health Insurance</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Our sales team is available to assist
                             you Monday through Friday, 8AM to 8PM Eastern.
                             </h3>
    
                        <ul>
                            <li><a href="#">call toll free: (855) 205-3540 </a></li>
                            <li><a href="#">outside US: 610.632.8943</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>With the rise in health-related issues, there is an extreme increase in the treatment costs too. Moreover, 
                            there is an increase in the demand for Health Insurance Plans. Therefore, several types of Health Insurance 
                            Policies in the market help you save that extra burden on your pocket.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>



