
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page - FantacyDesigns</title>
    <link rel="stylesheet" >
</head>
<body>
    
    <div class="about-section">
        <div class="inner-container">
            <h1 >About Us</h1>
            <p class="text">
                These insurance plans just not let you find the best treatment for your
                 health problems but also keep you stress-free from the expenditure point of view. 
                 Buying the right insurance plan can be a bit complicated
                 as there are different types of Health Insurance plans in San Francisco.
            </p>
            
        </div>
    </div>
    
</body>
</html>



